{{ define "header" }}
    <link href="../assets/css/menu.css" rel="stylesheet">
    <div class="cp_navi">
        <ul>
            <li><a href="http://localhost:8080/index">Home</a></li>
            <li>
                <a href="http://localhost:8080/users">Users <span class="caret"></span></a>
{{/*                <div>*/}}
{{/*                    <ul>*/}}
{{/*                        <li><a href="http://localhost:8080/user/add">Add</a></li>*/}}
{{/*                    </ul>*/}}
{{/*                </div>*/}}
            </li>
            <li>
                <a href="http://localhost:8080/genres">Genre <span class="caret"></span></a>
{{/*                <div>*/}}
{{/*                    <ul>*/}}
{{/*                        <li><a href="http://localhost:8080/genre/add">Add</a></li>*/}}
{{/*                    </ul>*/}}
{{/*                </div>*/}}
            </li>
            <li><a href="http://localhost:8080/daily_kpts">Daily Kpts</a></li>
            <li><a href="#">Help</a></li>
        </ul>
    </div>
{{ end }}