{{ define "header" }}
    <link href="../assets/css/menu.css" rel="stylesheet">
    <div class="cp_navi">
        <ul>
            <li><a href="http://localhost:8080/index">Home</a></li>
            <li>
                <a href="http://localhost:8080/books">Books <span class="caret"></span></a>
                <div>
                    <ul>
                        <li><a href="http://localhost:8080/book/add">Add</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="http://localhost:8080/users">Users <span class="caret"></span></a>
                <div>
                    <ul>
                        <li><a href="http://localhost:8080/books">Add</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="http://localhost:8080/rental_histories">Rental Histories</a></li>
            <li><a href="#">Help</a></li>
        </ul>
    </div>
{{ end }}