{{ define "header" }}
    <link href="../assets/css/menu.css" rel="stylesheet">
    <div class="cp_navi">
        <ul>
            <li><a href="/index">Home</a></li>
            <li>
                <a href="/_users">Users <span class="caret"></span></a>
                {{/*                    <div>*/}}
                {{/*                        <ul>*/}}
                {{/*                            <li><a href="/user/add">Add</a></li>*/}}
                {{/*                        </ul>*/}}
                {{/*                    </div>*/}}
            </li>
            <li>
                <a href="/_genres">Genre <span class="caret"></span></a>
                {{/*                    <div>*/}}
                {{/*                        <ul>*/}}
                {{/*                            <li><a href="/genre/add">Add</a></li>*/}}
                {{/*                        </ul>*/}}
                {{/*                    </div>*/}}
            </li>
            <li><a href="/_daily_kpts">Daily Kpts</a></li>
            {{/*            <li><a href="/logout">Logout</a></li>*/}}
            <li>
                <form method="get" action="/logout">
                    <button>Logout</button>
                </form>
            </li>
        </ul>
    </div>
{{ end }}