<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daily Kpts</title>
    <link href="../assets/css/from.css" rel="stylesheet">
    <link href="../assets/css/table.css" rel="stylesheet">
    <link href="../assets/css/btn.css" rel="stylesheet">
</head>
<body>

{{ template "header" }}

<table>
    <tr>
        <th>Keep</th>
        <th>Problem</th>
        <th>Try</th>
        <th>Good</th>
        <th>Fight</th>
        <th>Delete</th>
    </tr>
    {{ range .dailyKpts }}
        <tr>
            <td>{{ .Keep }}</td>
            <td>{{ .Problem }}</td>
            <td>{{ .Try }}</td>
            <td>{{ .Good }}</td>
            <td>{{ .Fight }}</td>
            <td>
                <button type="submit"formmethod="delete" formaction="/user/delete/{{.ID}}" class="btn-blue" onClick="alert('本当に削除してよろしいですか？');">Delete</button>
            </td>
        </tr>
    {{end}}
</table>

</body>
</html>

