<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daily Kpts</title>
    <link href="../assets/css/from.css" rel="stylesheet">
    <link href="../assets/css/table.css" rel="stylesheet">
    <link href="../assets/css/btn.css" rel="stylesheet">
</head>
<body>

{{ template "header" }}

<form action="/daily_kpt/add" method="post">
    <div class="form-inner">
        <h2>Post daily KPT</h2>
        <div>
            <div class="underline">
                <input type="text" tabindex="1" name="keep" placeholder="Keep"/>
            </div>
        </div>
        <div>
            <div class="underline">
                <input type="text" tabindex="1" name="problem" placeholder="Problem"/>
            </div>
        </div>
        <div>
            <div class="underline">
                <input type="text" tabindex="1" name="try" placeholder="Try"/>
            </div>
        </div>

        <div class="buttons">
            <div>
                <button type="reset" tabindex="13">Clear</button>
            </div>
            <div>
                <button type="submit" tabindex="14">Add</button>
            </div>
        </div>
        <div class="form-footer">
            {{if .err}}
                <p>{{.err}}</p>
            {{end}}
        </div>
    </div>
</form>

<form method="post">
    <table>
        <tr>
            <th>UserID</th>
            <th>Nickname</th>
            <th>Keep</th>
            <th>Problem</th>
            <th>Try</th>
            <th>Created</th>
            <th>Good</th>
            <th>Fight</th>
            <th>Delete</th>
        </tr>
        {{ range .dailyKpts }}
            <tr>
                <td>{{ .UserID }}</td>
                <td>{{ .Nickname }}</td>
                <td>{{ .Keep }}</td>
                <td>{{ .Problem }}</td>
                <td>{{ .Try }}</td>
                <td>{{ .CreatedAt.Format "2006-01-02 15:04" }}</td>
                <td>
                    {{ .Good }}
                    <button formaction="/daily_kpt/good/{{.ID}}" class="btn-red">Good</button>
                </td>
                <td>
                    {{ .Fight }}
                    <button formaction="/daily_kpt/fight/{{.ID}}" class="btn-yellow">Fight</button>
                </td>
                <td>
                    <button formaction="/daily_kpt/delete/{{.ID}}" class="btn-blue"
                            onClick="alert('本当に削除してよろしいですか？');">Delete
                    </button>
                </td>
            </tr>
        {{end}}
    </table>
</form>

</body>
</html>
