<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link href="../assets/css/login.css" rel="stylesheet">
</head>
<body>

<div class="form-wrapper">
    <h1>Forgot Password</h1>
    <form method="post" action="/forgot_password">
        <div class="form-item">
            <label for="text"></label>
            <input type="text" name="nickname" required placeholder="Your Nickname"/>
        </div>
        <div class="button-panel">
            <input type="submit" class="button" title="管理者にパスワードの再設定を依頼します" value="Send"/>
        </div>
    </form>

    <div class="form-footer">
        {{if .msg}}
            <p>{{.msg}}</p>
        {{end}}
    </div>
</div>
</body>
</html>