<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit GenreName</title>
    <style type="text/css" media="screen">
        @import url("/assets/css/menu.css");
        @import url("/assets/css/from.css");
    </style>
</head>
<body>

{{ template "header" }}

<form method="post" action="/genre/edit_ok/{{.genre.ID}}">
    <div class="form-inner">
        <h2>Edit Genre</h2>
        <div>
            <div class="underline">
                <input type="text" tabindex="1" name="genre_name" value="{{.genre.GenreName}}" placeholder="GenreName"/>
            </div>
        </div>
        <div class="buttons">
            <div>
                <button type="reset" tabindex="13">Clear</button>
            </div>
            <div>
                <button type="submit" tabindex="14">Edit Genre</button>
            </div>
        </div>
    </div>
</form>


</body>
</html>