<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="../assets/css/login.css" rel="stylesheet">
</head>
<body>

<div class="form-wrapper">
    <h1>Sign In</h1>
    <form method="post" action="/login">
        <div class="form-item">
            <label for="nickname"></label>
            <input type="nickname" name="nickname" required placeholder="Nickname"></input>
        </div>
        <div class="form-item">
            <label for="password"></label>
            <input type="password" name="password" required placeholder="Password"></input>
        </div>
        <div class="button-panel">
            <input type="submit" class="button" title="Sign In" value="Sign In"></input>
        </div>
    </form>

    {{if .err}}
        <div class="form-footer">
            <p>{{.err}}</p>
        </div>
    {{end}}
    {{if .msg}}
        <div class="form-footer">
            <p>{{.msg}}</p>
        </div>
    {{end}}
    <div class="form-footer">
        <p><a href="reissue">Forgot password?</a></p>
    </div>
</div>
</body>
</html>