<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monthly Plan</title>
    <link href="../assets/css/from.css" rel="stylesheet">
    <link href="../assets/css/table.css" rel="stylesheet">
    <link href="../assets/css/btn.css" rel="stylesheet">
</head>
<body>

{{ template "header" }}

<form action="/monthly_plan/add" method="post">
    <div class="form-inner">
        <h2>Add Monthly Plan</h2>
        <div>
            <div class="underline">
                <select name="GoalID" required>
                    {{ range $i, $go := $.goals }}
                        <option value="{{ $go.ID }}"> {{ $go.GoalName }}</option>
                    {{ end }}
                </select>
            </div>
        </div>
        <div>
            <div class="underline">
                <input type="month" name="Month" min="2020-01" max="2022-12" required>
            </div>
        </div>
        <div>
            <div class="underline">
                <textarea rows="3" name="KeepInLastMonth" placeholder="先月のKeep" required></textarea>
            </div>
        </div>
        <div>
            <div class="underline">
                <textarea rows="3" name="ProblemInLastMonth" placeholder="先月のProblem" required></textarea>
            </div>
        </div>
        <div>
            <div class="underline">
                <textarea rows="3" name="GoalAfterHalfYear" placeholder="半年後の目標" required></textarea>
            </div>
        </div>
        <div>
            <div class="underline">
                <textarea rows="3" name="GoalInThisMonth" placeholder="今月の目標" required></textarea>
            </div>
        </div>
        <div>
            <div class="underline">
                <textarea rows="3" name="CurrentState" placeholder="現在の状態" required></textarea>
            </div>
        </div>
        <div>
            <div class="underline">
                <textarea rows="3" name="DailyTodo" placeholder="日々やること" required></textarea>
            </div>
        </div>
        <div class="buttons">
            <div>
                <button type="reset" tabindex="13">Clear</button>
            </div>
            <div>
                <button type="submit" tabindex="14">Add Monthly Plan</button>
            </div>
        </div>
    </div>
</form>

<form method="post">
    <table>
        <tr>
            <th>ニックネーム</th>
            <th>目標</th>
            <th>Month</th>
            <th>先月のKeep</th>
            <th>先月のProblem</th>
            <th>半年後の目標</th>
            <th>今月の目標</th>
            <th>現在の状態</th>
            <th>日々やること</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {{ range .monthlyPlans }}
            <tr>
                <td>{{ .Nickname }}</td>
                <td>{{ .GoalName }}</td>
                <td>{{ .Month.Format "2006-01" }}</td>
                <td>{{ .KeepInLastMonth }}</td>
                <td>{{ .ProblemInLastMonth }}</td>
                <td>{{ .GoalAfterHalfYear }}</td>
                <td>{{ .GoalInThisMonth }}</td>
                <td>{{ .CurrentState }}</td>
                <td>{{ .DailyTodo }}</td>
                <td>
                    <a href="/monthly_plan/edit/{{.ID}}" class="btn-yellow">Edit</a>
                </td>
                <td>
                    <button formaction="/monthly_plan/delete/{{.ID}}" class="btn-blue"
                            onClick="alert('本当に削除してよろしいですか？');">Delete
                    </button>
                </td>
            </tr>
        {{end}}
    </table>
</form>

</body>
</html>
