<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Page</title>
    <style type="text/css" media="screen">
        @import url("/assets/css/menu.css");
        @import url("/assets/css/from.css");
    </style>
</head>
</head>
<body>

{{ template "header" }}

<form method="post" action="/user/edit_my_page">
    <div class="form-inner">
        <h1>My Page</h1>
        <h2>My Profile</h2>
        <div>
            <div class="underline">
                <input type="text" name="nickname" id="nickname" value="{{.user.Nickname}}"
                       placeholder="Nickname" required/>
            </div>
        </div>
        <div>
            <div class="underline">
                <input type="password" name="password" id="password" value="" placeholder="Password"/>
            </div>
        </div>
        <div>
            <div class="underline">
                <input type="number" name="age" id="age" value="{{.user.Age}}" placeholder="Age"/>
            </div>
        </div>
        <div>
            <div class="underline">
                <select name="role" id="role" placeholder="Role" required/>
                <option value="0" {{if eq .user.Role 0}} selected {{end}}>一般ユーザー</option>
                <option value="1" {{if eq .user.Role 1}} selected {{end}}>管理者</option>
                </select>
            </div>
        </div>
        <div class="buttons">
            <div>
                <button>Profile Edit</button>
            </div>
            <div>
                <button formaction="/user/delete/{{.user.ID }}" onClick="alert('本当に削除してよろしいですか？');">Delete</button>
            </div>
        </div>
    </div>
</form>

{{ range $i, $go := .user.Goals }}
<form method="post">
    <div class="form-inner">
        <h2>My Goal {{ $i }}</h2>
        <div>
            <div class="underline">
                <select name="genre_id_{{ $go.ID }}" placeholder="Genre" required/>
                {{ range $j, $ge := $.genres }}
                    <option value="{{ $ge.ID }}" {{ if eq $ge.ID $go.GenreID }} selected {{ end }}> {{ $ge.GenreName }} </option>
                {{ end }}
                </select>
            </div>
        </div>
        <div>
            <div class="underline">
                <input type="text" name="goal_name_{{ $go.ID }}" value="{{ $go.GoalName }}"
                       placeholder="Goal" required/>
            </div>
        </div>
        <div class="buttons">
            <div>
                <button formaction="/user/user_edit_goal/{{ $go.ID }}">Goal Edit</button>
            </div>
            <div>
                <button formaction="/user/user_delete_goal/{{ $go.ID }}" onClick="alert('本当に削除してよろしいですか？');">Goal
                    Delete
                </button>
            </div>
        </div>
    </div>

    {{ range $k, $to := $go.TodoLists }}
    <form method="post" action="/user/edit_my_page">
        <div class="form-inner">
            <h3>Todo {{ $k}}</h3>
            <div>
                <div class="underline">
                    <input type="text" name="required_elements_{{ $to.ID }}"
                           value="{{ $to.RequiredElements }}" placeholder="RequiredElements" required/>
                </div>
            </div>
            <div>
                <div class="underline">
                    <input type="text" name="specific_goal_{{ $to.ID }}"
                           value="{{ $to.SpecificGoal}}"
                           placeholder="SpecificGoal" required/>
                </div>
            </div>
            <div>
                <div class="underline">
                    <input type="text" name="todo_{{ $to.ID }}"
                           value="{{ $to.Todo}}"
                           placeholder="Todo" required/>
                </div>
            </div>
            <div>
                <div class="underline">
                    <input type="date" name="limit_date_{{ $to.ID }}" value="{{ $to.LimitDate.Format "2006-01-02"}}"
                           placeholder="LimitDate" required/>
                </div>
            </div>
            <div class="buttons">
                <div>
                    <button formaction="/user/user_edit_todo/{{ $to.ID }}">Todo Edit</button>
                </div>
                <div>
                    <button formaction="/user/user_delete_todo/{{ $to.ID }}" onClick="alert('本当に削除してよろしいですか？');">Todo
                        Delete
                    </button>
                </div>
            </div>

            {{ end }}
            {{ end }}
        </div>
    </form>
</form>

<form method="post" action="/user/add_goal">
    <div class="form-inner">
        <h2 title="目標を追加できます。">Add Goal</h2>
        <div>
            <div class="underline">
                <select name="genre_id" placeholder="Genre_id" title="目標のジャンルを選択してください"/>
                {{ range $j, $ge := $.genres }}
                    <option value="{{ $ge.ID }}"> {{ $ge.GenreName }} </option>
                {{ end }}
                </select>
            </div>
        </div>
        <div>
            <div class="underline">
                <input type="text" name="goal_name" placeholder="Goal Name"
                       title="最終目標を教えて下さい"/>
            </div>
        </div>
        <div class="buttons">
            <div>
                <button type="reset" tabindex="13">Clear</button>
            </div>
            <div>
                <button type="submit" tabindex="14">Add</button>
            </div>
        </div>
    </div>
</form>

<form method="post" action="/user/add_todo">
    <div class="form-inner">
        <h2 title="目標に対するTodoを追加できます。"/>Add Todo</h2>
        <div>
            <div class="underline">
                <select name="goal_id" placeholder="goal_id" title="対応する目標を選択してください"/>
                {{ range $i, $go := .user.Goals }}
                    <option value="{{ $go.ID }}"> {{ $go.GoalName }} </option>
                {{ end }}
                </select>
            </div>
        </div>
        <div>
            <div class="underline">
                <input type="text" name="required_elements" placeholder="RequiredElements"
                       title="目標を達成するために必要な要素を教えてください"/>
            </div>
        </div>
        <div>
            <div class="underline">
                <input type="text" name="todo" placeholder="Todo"
                       title="そのためにやるべきことを教えて下さい"/>
            </div>
        </div>
        <div>
            <div class="underline">
                <input type="text" name="specific_goal" placeholder="SpecificGoal"
                       title="目標達成の評価方法を教えて下さい"/>
            </div>
        </div>
        <div>
            <div class="underline">
                <input type="date" name="limit_date" placeholder="LimitDate"
                       title="期限を教えて下さい"/>
            </div>
        </div>
        <div class="buttons">
            <div>
                <button type="reset" tabindex="13">Clear</button>
            </div>
            <div>
                <button type="submit" tabindex="14">Add</button>
            </div>
        </div>
    </div>
</form>

{{if .err}}
    <div class="form-footer">
        <p>{{.err}}</p>
    </div>
{{end}}


</body>
</html>