<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>registration</title>
    <link href="../assets/css/menu.css" rel="stylesheet">
    <link href="../assets/css/from.css" rel="stylesheet">
</head>
<body>

    <div class="type-shine">Run together towards the goal</div>


<form action="/registration" method="post">
    <div class="form-inner">
        <h2>Sign up</h2>
        <div>
            <div class="underline">
                <input type="text" tabindex="1" name="nickname" placeholder="Nickname" required/>
            </div>
        </div>
        <div>
            <div class="underline">
                <input type="password" tabindex="1" name="password" placeholder="Password" required/>
            </div>
        </div>

        <div class="buttons">
            <div>
                <button type="reset" tabindex="13">Clear</button>
            </div>
            <div>
                <button type="submit" tabindex="14">New Registration</button>
            </div>
        </div>
        <div class="form-footer">
            {{ if .err }}
                {{ range $i, $v := .err }}
                    <p class="error">{{ $v }}</p>
                {{ end }}
            {{end}}
        </div>
    </div>
</form>

</body>
</html>
