<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link href="../assets/css/from.css" rel="stylesheet">
    <link href="../assets/css/table.css" rel="stylesheet">
    <link href="../assets/css/btn.css" rel="stylesheet">
</head>
<body>

{{ template "header" }}

<form action="/user/add" method="post">
    <div class="form-inner">
        <h2>Add User</h2>
        <div>
            <div class="underline">
                <input type="text" tabindex="1" name="nickname" placeholder="Nickname"/>
            </div>
        </div>
        <div>
            <div class="underline">
                <input type="password" tabindex="1" name="password" placeholder="Password"/>
            </div>
        </div>

        <div class="buttons">
            <div>
                <button type="reset" tabindex="13">Clear</button>
            </div>
            <div>
                <button type="submit" tabindex="14">Add</button>
            </div>
        </div>
        <div class="form-footer">
            {{if .err}}
                <p>{{.err}}</p>
            {{end}}
        </div>
    </div>
</form>

<form>
    <table>
        <tr>
            <th>Nickname</th>
            <th>Age</th>
            <th>Occupation</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
        {{ range .users }}
            <tr>
                <td>{{ .Nickname }}</td>
                <td>
                    {{if eq .AgeDisplayFlag 0 }}
                        非表示
                    {{ else }}
                        {{ .Age }}
                    {{ end }}
                </td>
                <td>{{ .Occupation }}</td>
                <td>
                    {{if eq .Role 0 }}
                        一般ユーザー
                    {{ else }}
                        管理者
                    {{ end }}
                </td>
                <td>
                    <a href="/user/view/{{.ID}}" class="btn-yellow">View</a>
                </td>
            </tr>
        {{end}}
    </table>
</form>

</body>
</html>

