<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
    <link href="../assets/css/from.css" rel="stylesheet">
</head>
<body>

<form method="post" action="/user/edit_ok/{{.user.ID}}">
    <div class="form-inner">
        <h2>Edit User</h2>
        <div>
            <div class="underline">
                <input type="text" tabindex="1" name="nickname" id="nickname" value="{{.user.Nickname}}" placeholder="Nickname"/>
            </div>
        </div>
        <div>
            <div class="underline">
                <input type="password" tabindex="1" name="password" id="password" value="{{.user.Password}}" placeholder="Password"/>
            </div>
        </div>
        <div>
            <div class="underline">
                <input type="text" tabindex="1" name="age" id="age" value="{{.user.Age}}" placeholder="Age"/>
            </div>
        </div>
        <div>
            <div class="underline">
                <input type="text" tabindex="1" name="role" id="role" value="{{.user.Role}}" placeholder="Role"/>
            </div>
        </div>
        <p><input type="submit" value="Edit"></p>
    </div>
</form>


</body>
</html>