<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View User</title>
    <style type="text/css" media="screen">
        @import url("/assets/css/menu.css");
        @import url("/assets/css/from.css");
    </style>
</head>
<body>

{{ template "header" }}

<form method="post" action="/user/edit_ok/{{.user.ID}}">
    <div class="form-inner">
        <h2>View User info</h2>
        <div>
            <div class="underline">
                <input type="text" tabindex="1" name="nickname" value="{{.user.Nickname}}"
                       placeholder="Nickname"/>
            </div>
        </div>
        <div>
            <div class="underline">
                <input type="password" tabindex="1" name="password" value="" placeholder="Password"/>
            </div>
        </div>
        <div>
            <div class="underline">
                <input type="number" tabindex="1" name="age" value="{{.user.Age}}" placeholder="Age"/>
            </div>
        </div>
        <div>
            <div class="underline">
                <select name="role"/>
                <option value="0" {{if eq .user.Role 0}} selected {{end}}>一般ユーザー</option>
                <option value="1" {{if eq .user.Role 1}} selected {{end}}>管理者</option>
                </select>
            </div>
        </div>

        {{if .adminFlag }}
            <div class="buttons">
                <div>
                    <button>Edit</button>
                </div>
            </div>
        {{end}}

        {{ range $i, $go := .user.Goals }}
            <form method="post">
                <div class="form-inner">
                    <h2>My Goal {{ $i }}</h2>
                    <div>
                        <div class="underline">
                            <select name="genre_id_{{ $go.ID }}" disabled/>
                            {{ range $j, $ge := $.genres }}
                                <option value="{{ $ge.ID }}" {{ if eq $ge.ID $go.GenreID }} selected {{ end }}> {{ $ge.GenreName }} </option>
                            {{ end }}
                            </select>
                        </div>
                    </div>
                    <div>
                        <div class="underline">
                            <input type="text" name="goal_name_{{ $go.ID }}" value="{{ $go.GoalName }}"
                                   placeholder="Goal" disabled/>
                        </div>
                    </div>
                </div>

                {{ range $k, $to := $go.TodoLists }}
                    <form method="post" action="/user/edit_my_page">
                        <div class="form-inner">
                            <h3>Todo {{ $k }}</h3>
                            <div>
                                <div class="underline">
                                    <input type="text" name="required_elements_{{ $to.ID }}"
                                           value="{{ $to.RequiredElements }}" placeholder="RequiredElements" disabled/>
                                </div>
                            </div>
                            <div>
                                <div class="underline">
                                    <input type="text" name="specific_goal_{{ $to.ID }}"
                                           value="{{ $to.SpecificGoal}}"
                                           placeholder="SpecificGoal" disabled/>
                                </div>
                            </div>
                            <div>
                                <div class="underline">
                                    <input type="text" name="todo_{{ $to.ID }}"
                                           value="{{ $to.Todo}}"
                                           placeholder="Todo" disabled/>
                                </div>
                            </div>
                            <div>
                                <div class="underline">
                                    <input type="date" name="limit_date_{{ $to.ID }}"
                                           value="{{ $to.LimitDate.Format "2006-01-02"}}"
                                           placeholder="LimitDate" disabled/>
                                </div>
                            </div>
                        </div>
                    </form>
                {{ end }}

            </form>
        {{ end }}

    </div>
</form>

</body>
</html>