<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
{{ template "header" }}

welcome
{{if .user }}
    , {{.user.Nickname}}
{{end}}
!

<br><br>

<h3>目標を達成するに</h3>
- 目標の立て方<br>
- 課題を洗い出す<br>
- ステップ形式にし、細分化する<br>
- 現実的で、具体的かつ明確な形にする<br>
- 目標の達成度合いが数値的に評価できる<br>
- 期限をつける<br>

<h3>目標を立てたあと</h3>
- 周りに共有し、自分にプレッシャーをかける<br>
- 行動を継続する<br>
- 記録する<br>
- 行動を振り返る<br>
- ご褒美<br>
- 達成したときのメリットを見える化する<br>

<br><br>

<table>
    <tr>
        <th>物 what</th>
        <th>環境 when/where</th>
        <th>選択 which</th>
        <th>人 who</th>
        <th>方法 how</th>
    </tr>
    <tr>
        <td>現在 is/does</td>
        <td>今、どんな運動をしているか？</td>
        <td>今、どこで運動をしているか？</td>
        <td>有酸素運動と無酸素運動ならどちらがいいか？</td>
        <td>今、誰と運動しているか？</td>
        <td>今、どうやって運動しているか？</td>
    </tr>
    <tr>
        <td>過去 was/did</td>
        <td>過去にはどんな運動をしていたか？</td>
        <td>過去にはどこで運動をしていたか？</td>
        <td>有酸素運動と無酸素運動のどちらが好きだったか？</td>
        <td>過去には誰と運動していたか？</td>
        <td>過去にはどうやって運動していたか？</td>
    </tr>
    <tr>
        <td>可能 can</td>
        <td>どんな運動が可能か？</td>
        <td>他にはどこで運動することが可能か？</td>
        <td>有酸素運動と無酸素運動、どちらが続けやすいだろうか？</td>
        <td>誰と運動することができるか？</td>
        <td>どうやって運動することが可能か？</td>
    </tr>
    <tr>
        <td>推量 should/would</td>
        <td>健康のためにはどんな運動をすべきだろうか？</td>
        <td>どこで運動すべきだろうか？|</td>
        <td>有酸素運動と無酸素運動のどちらをやるべきだろうか？</td>
        <td>誰と運動すべきだろうか？</td>
        <td>どうやって運動するべきだろうか？</td>
    </tr>
    <tr>
        <td>未来 will</td>
        <td>どんな運動をしてみたいか？</td>
        <td>どこで運動したいか？</td>
        <td>今後の健康のためには、有酸素運動と無酸素運動のどちらがいいか？</td>
        <td>誰と運動したいか？</td>
        <td>どうやって運動したいか？</td>
    </tr>
    <tr>
        <td>想像 might</td>
        <td>どんな運動が面白そうか？</td>
        <td>どこで運動できそうか？</td>
        <td>有酸素運動と無酸素運動、どちらかがデメリットを及ぼすことはないか？</td>
        <td>一緒に運動してくれる人を探す方法はないか？</td>
        <td>良い運動のやり方を教わるにはどうしたらいいか？</td>
    </tr>
</table>


{{ template "footer" }}
</body>
</html>
